<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin sekce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/Admin">Admin</a>

        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/Admin">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/Admin/Users">Uživatelé</a></li>
            <li class="nav-item"><a class="nav-link" href="/Admin/Roles">Role</a></li>
        </ul>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>