@page
@model Ryby.Areas.Identity.Pages.Account.Manage.Disable2faModel

@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Disabling 2FA will make your account less secure.</strong>
    </p>
</div>

<form method="post">
    <button class="btn btn-danger" type="submit">Disable 2FA</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}