@page
@model DownloadPersonalDataModel
@using Ryby.Areas.Identity.Pages.Account.Manage

@{
    ViewData["Title"] = "Download Personal Data";
    ViewData["ActivePage"] = ManageNavPages.DownloadPersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}