@page
@model Ryby.Areas.Identity.Pages.Account.Manage.GenerateRecoveryCodesModel

@{
    ViewData["Title"] = "Generate recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Put these codes in a safe place.</strong>
    </p>
    <p>
        If you lose your device and do not have the recovery codes, you will lose access to your account.
    </p>
</div>

@if (Model.RecoveryCodes != null && Model.RecoveryCodes.Length > 0)
{
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                @foreach (var code in Model.RecoveryCodes)
                {
                    <li class="list-group-item">@code</li>
                }
            </ul>
        </div>
    </div>
}

<form method="post">
    <button class="btn btn-primary" type="submit">Generate new recovery codes</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}