@page
@model PersonalDataModel
@using Ryby.Areas.Identity.Pages.Account.Manage

@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<p>Your account contains personal data that you have provided to us.</p>

<div class="row mt-3">
    <div class="col-md-6">
        <a class="btn btn-primary w-100 mb-2" asp-page="./DownloadPersonalData">
            Download Personal Data
        </a>

        <a class="btn btn-danger w-100" asp-page="./DeletePersonalData">
            Delete Personal Data
        </a>
    </div>
</div>