@page
@model Ryby.Areas.Identity.Pages.Account.Manage.TwoFactorAuthenticationModel

@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />

<h3>@ViewData["Title"]</h3>

@if (Model.Is2faEnabled)
{
    <div class="alert alert-success" role="alert">
        <p>Your authenticator app is configured.</p>
    </div>

    <p>
        <a asp-page="./Disable2fa" class="btn btn-danger">Disable 2FA</a>
        <a asp-page="./GenerateRecoveryCodes" class="btn btn-warning">Generate new recovery codes</a>
    </p>
}
else
{
    <div class="alert alert-warning" role="alert">
        <p>You do not have 2FA enabled.</p>
    </div>

    <p>
        <a asp-page="./EnableAuthenticator" class="btn btn-primary">Set up authenticator app</a>
    </p>
}