@page
@model Ryby.Areas.Identity.Pages.Account.ForgotPasswordModel

@{
    ViewData["Title"] = "Zapomenuté heslo";
}

<h1>@ViewData["Title"]</h1>
<h2>Zadejte svůj e-mail.</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Odeslat odkaz pro reset hesla</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}