@page
@model Ryby.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Obnovení hesla – potvrzení";
}

<h1>Obnovení hesla</h1>
<p>
    Pokud existuje účet s tímto e‑mailem, poslali jsme vám odkaz pro obnovení hesla.
</p>