@page
@model Ryby.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Odhlášení";
}

<h1>Odhlášení</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <form method="post">
        <button type="submit" class="btn btn-link">Odhlásit se</button>
    </form>
}
else
{
    <p>Byl jste úspěšně odhlášen.</p>
}