@page
@model Ryby.Areas.Admin.Pages.Dashboard.IndexModel

<div style="background:green">TEST INDEX 1X</div>

<div class="container mt-4">
    <h1 class="text-primary">TOTO JE NOVÝ ADMIN DASHBOARD</h1>
    <h1 style="color:green; font-size:60px">DASHBOARD Z FOLDERU</h1>
    <h1 style="color:red; font-size:50px">TEST ZMĚNY</h1>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Počet uživatelů</div>
                <div class="card-body">
                    <h3>@Model.UserCount</h3>
                </div>
            </div>
        </div>
    </div>
</div>